{% extends 'core/base.html' %}
{% load static %}

{% block title %}Pub Details{% endblock %}
{% block style %}
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.1/css/all.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h4><a href="{% url 'pub list' %}">Back</a></h4>
        <div class="text-center">
            <div class="container-sm">
                {% if not pub.image %}
                    <img class="img-thumbnail" src="{% static 'images/no_pub.jpg' %}" alt="no pub img">
                {% else %}
                    <img class="img-thumbnail" src="{{ pub.image.url }}" alt="pub img">
                {% endif %}
                <br>
                <h5>Author:</h5>
                {% if not pub.user.collectorprofile.username %}
                    <h5><u>Unknown Collector</u></h5>
                {% else %}
                    <h5><u>{{ pub.user.collectorprofile.username }}</u></h5>
                {% endif %}
                <br>
                <h5>PubName:</h5>
                <h5><u>{{ pub.name }}</u></h5>
                <br>
                <h5>Address:</h5>
                {% if not pub.address %}
                    <h5><u>No Address</u></h5>
                {% else %}
                    <h5><u>{{ pub.address }}</u></h5>
                {% endif %}
                <br>
                <h5>Location:</h5>
                {% if not pub_location %}
                    <div>
                        <h5><u>No Location</u></h5>
                    </div>
                {% else %}
                    <div>
                        {{ pub_location|safe }}
                    </div>
                {% endif %}
                <br>
                <h5>Website:</h5>
                {% if not pub.website %}
                    <div>
                        <h5><u>No Website</u></h5>
                    </div>
                {% else %}
                    <div>
                        <h5><u><a href="{{ pub.website }}" target="_blank">Visit the pub's website here</a></u></h5>
                    </div>
                {% endif %}
                <br>
                <h5>Description:</h5>
                {% if not pub.description %}
                    <label>
                <textarea class="textarea form-control" rows="4" cols="75"
                          readonly>No description.</textarea>
                    </label>
                    <br>
                {% else %}
                    <label>
                <textarea class="textarea form-control" rows="4" cols="75"
                          readonly>{{ pub.description }}</textarea>
                    </label>
                    <br>
                {% endif %}
                <br>
                {% if not is_owner %}
                    {% if is_liked %}
                        <h5>Have you been disappointed in this pub?</h5>
                        <br>
                        <a href="{% url 'pub like' pub.id %}"><i class="fas fa-gem fa-2x"></i></a>
                    {% else %}
                        <h5>Do you recommend the pub?</h5>
                        <br>
                        <a href="{% url 'pub like' pub.id %}"><i class="far fa-gem fa-2x"></i></a>
                    {% endif %}
                {% endif %}
                <p class="mt-2">Preferences: {{ pub.likes_count }}</p>
                <hr>
                <br>
                <h5>Comments:</h5>
                <br>
                {% if pub_comments %}
                    {% for comment in pub_comments %}
                        {% if not comment.user.collectorprofile.username %}
                            <div>
                                <p>Unknown Collector</p>
                                <label>
                                <textarea class="textarea form-control" rows="4" cols="75"
                                          readonly>{{ comment.comment }}</textarea>
                                </label>
                            </div>
                            <br>
                        {% else %}
                            <div>
                                <p>{{ comment.user.collectorprofile.username }}</p>
                                <label>
                                    <textarea class="textarea form-control" rows="4" cols="75"
                                              readonly>{{ comment.comment }}</textarea>
                                </label>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h5>There are no comments yet.</h5>
                {% endif %}
                <br>
                <form action="{% url 'pub comment' pub.id %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ pub_comment_form }}
                    <br>
                    <div class="buttons">
                        <button type="submit" class="btn btn-outline-primary">Add</button>
                    </div>
                </form>
                {% if is_owner %}
                    <hr>
                    <a class="btn btn-outline-primary" href="{% url 'pub edit' pub.id %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'pub delete' pub.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}