body {
    background-color: #F6C101;
}
.navbar {
    margin-top: 20px;
}
.home_h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
}
.home_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 10%;
}
.nav_img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 15px;
}
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 440px;
}
.card-header {
    text-align: center;
}
.card-text {
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-outline-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alert-light {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px;
    height: 80px;
    color: black;
    border: solid black 2px;
}
.img-thumbnail {
    margin-bottom: 20px;
    width: 143px;
    height: 150px;
}
.container-sm {
    width: 505px;
}
.form-control:read-only{
    background-color: transparent;
    resize: none;
}
