{% extends 'core/base.html' %}
{% load static %}
{% load profile_templatetags %}

{% block title %}Profile Details{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h4><a href="{% url 'home page' %}">Back</a></h4>
        <div class="text-center">
            {% if not profile.is_complete %}
                {% show_profile_complete_notification %}
            {% endif %}
            <br>
            {% if not profile.username %}
                <h2>Hello, collector</h2>
            {% else %}
                <h2>Hello, {{ profile.username }}</h2>
            {% endif %}
            {% if not profile.image %}
                <img class="img-thumbnail" src="{% static 'images/anonymous_profile_img.jpg' %}" alt="anonymous img">
            {% else %}
                <img class="img-thumbnail" src="{{ profile.image.url }}" alt="profile img">
            {% endif %}
            <br>
            <div class="container-sm">
                {% if not profile.first_name %}
                    <h5>First name:</h5>
                    <h5><u>The first name is not specified</u></h5>
                {% else %}
                    <h5>First name:</h5>
                    <h5><u>{{ profile.first_name }}</u></h5>
                {% endif %}
                <br>
                {% if not profile.last_name %}
                    <h5>last name:</h5>
                    <h5><u>The last name is not specified</u></h5>
                {% else %}
                    <h5>last name:</h5>
                    <h5><u>{{ profile.last_name }}</u></h5>
                {% endif %}
                <br>
                {% if not profile.about %}
                    <h5>About:</h5>
                    <label>
                    <textarea class="textarea form-control" rows="4" cols="75"
                              readonly>The information is not specified.</textarea>
                    </label>
                {% else %}
                    <h5>About:</h5>
                    <label>
                        <textarea class="textarea form-control" rows="4" cols="75"
                                  readonly>{{ profile.about }}</textarea>
                    </label>
                {% endif %}
                <hr>
                <a class="btn btn-outline-primary" href="{% url 'profile edit' user.id %}">Edit</a>
                <a class="btn btn-outline-primary" href="{% url 'change password' %}">Password</a>
                <a class="btn btn-outline-primary" href="{% url 'delete account' user.id %}">Delete</a>
                <br>
                <h5><a href="{% url 'home page' %}">Go to Home Page</a></h5>
                <br>
                {% show_progress_bar %}
            </div>
        </div>
    </div>
{% endblock %}
