{% extends 'core/base.html' %}

{% block title %}Change Password{% endblock %}
{% block content %}
    <form action="{% url 'change password' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="card border-primary mb-3">
            <div class="card-header">Please fill all the fields to change your password</div>
            <div class="card-body">
                {{ form.errors }}
                <p class="card-text">{{ form.old_password.label }}</p>
                {{ form.old_password }}
                <p class="card-text">{{ form.new_password1.label }}</p>
                {{ form.new_password1 }}
                <p class="card-text">{{ form.new_password2.label }}</p>
                {{ form.new_password2 }}
                <hr>
                <div class="buttons">
                    <button type="submit" class="btn btn-outline-success">Change</button>
                    <a class="btn btn-outline-info" href="{% url 'profile details' user.id %}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}