{% extends 'core/base.html' %}

{% block title %}Reset Password Confirm{% endblock %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="card border-primary mb-3">
            <div class="card-header">Please fill the fields to reset your password</div>
            <div class="card-body">
                {{ form.errors }}
                <p class="card-text">{{ form.new_password1.label }}</p>
                {{ form.new_password1 }}
                <p class="card-text">{{ form.new_password2.label }}</p>
                {{ form.new_password2 }}
                <hr>
                <div class="buttons">
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <button type="submit" class="btn btn-outline-primary">Reset</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}