{% extends 'core/base.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}
    <form action="." method="post" novalidate>
        {% csrf_token %}
        <div class="card border-primary mb-3">
            <div class="card-header">Please enter your email to reset your password</div>
            <div class="card-body">
                {{ form.errors }}
                <p class="card-text">{{ form.email.label }}</p>
                {{ form.email }}
                <hr>
                <div class="buttons">
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <button type="submit" class="btn btn-outline-primary">Send</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}