{% extends 'core/base.html' %}

{% block title %}Sign In{% endblock %}
{% block content %}
    <form action="{% url 'sign in' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="card border-primary mb-3">
            <div class="card-header">Please fill all the fields to Sign In</div>
            <div class="card-body">
                {{ form.errors }}
                <p class="card-text">{{ form.username.label }}</p>
                {{ form.username }}
                <p class="card-text">{{ form.password.label }}</p>
                {{ form.password }}
                <hr>
                <div class="buttons">
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <button type="submit" class="btn btn-outline-primary">Sign In</button>
                    <h5><a href="{% url 'reset_password' %}">Forgot your password?</a></h5>
                </div>
            </div>
        </div>
    </form>
{% endblock %}