{% extends 'core/base.html' %}

{% block title %}Beer Style Details{% endblock %}
{% block style %}
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.1/css/all.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h4><a href="{% url 'beer style list' %}">Back</a></h4>
        <div class="text-center">
            <div class="container-sm">
                <br>
                <h5>Author:</h5>
                {% if not beer_style.user.collectorprofile.username %}
                    <h5><u>Unknown Collector</u></h5>
                {% else %}
                    <h5><u>{{ beer_style.user.collectorprofile.username }}</u></h5>
                {% endif %}
                <br>
                <h5>BeerStyle:</h5>
                <h5><u>{{ beer_style.type }}</u></h5>
                <br>
                <h5>Description:</h5>
                {% if not beer_style.description %}
                    <label>
                <textarea class="textarea form-control" rows="4" cols="75"
                          readonly>No description.</textarea>
                    </label>
                    <br>
                {% else %}
                    <label>
                <textarea class="textarea form-control" rows="4" cols="75"
                          readonly>{{ beer_style.description }}</textarea>
                    </label>
                    <br>
                {% endif %}
                <br>
                {% if not is_owner %}
                    {% if is_liked %}
                        <h5>Have you changed your approval decision?</h5>
                        <br>
                        <a href="{% url 'beer style like' beer_style.id %}"><i class="fas fa-hand-peace fa-2x"></i></a>
                    {% else %}
                        <h5>Do you want to give your approval for this style?</h5>
                        <br>
                        <a href="{% url 'beer style like' beer_style.id %}"><i class="far fa-hand-peace fa-2x"></i></a>
                    {% endif %}
                {% endif %}
                <p class="mt-2">Approvals: {{ beer_style.likes_count }}</p>
                <hr>
                <h5>Comments:</h5>
                <br>
                {% if beer_style_comments %}
                    {% for comment in beer_style_comments %}
                        {% if not comment.user.collectorprofile.username %}
                            <div>
                                <p>Unknown Collector</p>
                                <label>
                                <textarea class="textarea form-control" rows="4" cols="75"
                                          readonly>{{ comment.comment }}</textarea>
                                </label>
                            </div>
                            <br>
                        {% else %}
                            <div>
                                <p>{{ comment.user.collectorprofile.username }}</p>
                                <label>
                                    <textarea class="textarea form-control" rows="4" cols="75"
                                              readonly>{{ comment.comment }}</textarea>
                                </label>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h5>There are no comments yet.</h5>
                {% endif %}
                <br>
                <form action="{% url 'beer style comment' beer_style.id %}" method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ beer_style_comment_form }}
                    <br>
                    <div class="buttons">
                        <button type="submit" class="btn btn-outline-primary">Add</button>
                    </div>
                </form>
                {% if is_owner %}
                    <hr>
                    <a class="btn btn-outline-primary" href="{% url 'beer style edit' beer_style.id %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'beer style delete' beer_style.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}