{% extends 'core/base.html' %}

{% block title %}Delete Beer Style{% endblock %}
{% block content %}
    <h1 class="home_h1">Are you sure you want to delete your beer style?</h1>
    <form action="{% url 'beer style delete' object.id %}" method="post" novalidate>
        {% csrf_token %}
        <br>
        <div class="buttons">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a class="btn btn-info" href="{% url 'beer style list' %}">No</a>
        </div>
    </form>
{% endblock %}